<% layout("/layouts/boilerplate") %>

<div class="card mt-3" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsTVpLCZ97inXeYPYHNc70Y88NlOXmhMt-2g&s" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><b>Medicaps University witnessed an unforgettable musical evening when the famous playback singer and musician, Darshan Raval, graced the stage with his presence. The event, which was the highlight of the university’s cultural calendar, attracted an enthusiastic crowd of students, faculty, and music lovers from across the region."</b></p>
    </div>
</div>
