<% layout("/layouts/boilerplate") %>
<body>
   <img class="medicaps" src="https://websiteupload.s3.ap-south-1.amazonaws.com/media/2024/07/661e14bb850f86.webp" alt="Medicaps University"> 
</body>
</html>