<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Create a new Club</h3>
        <form method="POST" action="/club" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" name="club[title]" placeholder="Enter the name of the club" type="text" required>
                <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="club[description]" placeholder="Enter the description of the club" type="text" required></textarea>
                <div class="invalid-feedback">Please enter a short description!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Club Image</label>
                <input class="form-control" name="club[image]" type="file" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" name="club[location]" placeholder="Enter the location of the club" type="text" required>
                <div class="invalid-feedback">Please enter the location!</div>
            </div>
            <div class="mb-3">
                <label for="head" class="form-label">Head</label>
                <input class="form-control" name="club[head]" placeholder="Enter the name of head of the club" type="text" required>
                <div class="invalid-feedback">Please enter the name of the head!</div>
            </div>
            <button class="btn btn-dark add-btn mt-3">Add</button>
            <br><br>
        </form>
    </div>
</div>
    